/* Global */

:root {
    --themeColor: #064bb5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: var(--themeColor);
}

.inner-container {
    max-width: 1080px;
    width: 100%;
    padding: 0 2rem;
}

/* Skip to content link */
.skip-to-content-link {
    background: var(--themeColor);
    left: 3rem;
    z-index: 10;
    padding: 1rem 2rem;
    border-radius: 0 0 .5rem .5rem;
    color: white;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}
  
.skip-to-content-link:focus {
  transform: translateY(0%);
}

/* Header */
header {
    display: flex;
    justify-content: center;
    height: 80px;
}

header section {
    display: inline-grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

header section .site-logo {
    user-select: none;
    font-weight: 900;
    font-size: 1.5rem;
}

header nav.desktop-nav {
    grid-column: 2 / span 1;
    position: relative;
}

header nav.desktop-nav .menuItemSelector {
    position: absolute;
    transform: translateX(-50%);
    padding: 0 0.5rem;
    bottom: 0;
    opacity: 0;
    width: 70px;
    height: 30px;
    border-radius: 3rem;
    box-sizing: content-box;
    background-color: black;
}

header section nav.desktop-nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    position: relative;
}

header section nav.desktop-nav ul a {
    display: flex;
    color: black;
    padding: 5px 0.5rem;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: .2s;
    position: relative;
}

header section nav.desktop-nav ul a:hover {
    color: white;
}

header section nav.desktop-nav ul a.active {
    color: white;
}

/* Banner */
div.banner {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
}

div.banner .inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

div.banner h1 {
    font-size: 4rem;
    font-weight: 900;
}

div.banner h1 span {
    color: var(--themeColor);
}

div.banner img.portrait-image {
    border-radius: 5rem 0;
    border: 10px solid black;
    filter: contrast(1.2);
    /* filter: grayscale(1); */
}













/* Tablet */
@media only screen and (max-width: 1080px) {
    /* Header */
    header nav.desktop-nav {
        display: none;
    }

    header section {
        grid-template-columns: auto 70px;
    }
}