/* Global */

:root {
    --themeColor: #064bb5;
    scroll-behavior: smooth;
    scroll-padding-top: 80px; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: var(--themeColor);
}

.inner-container {
    max-width: 1080px;
    width: 100%;
    padding: 0 2rem;
}

/* Skip to content link */
.skip-to-content-link {
    background: var(--themeColor);
    left: 3rem;
    z-index: 10;
    top: 0;
    padding: 1rem 2rem;
    border-radius: 0 0 .5rem .5rem;
    color: white;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}
  
.skip-to-content-link:focus {
  transform: translateY(0%);
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: #ffffffd4;
    backdrop-filter: blur(25px);
}

header section {
    display: inline-grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

header section .site-logo {
    user-select: none;
    font-weight: 900;
    font-size: 1.5rem;
    width: fit-content;
}

header nav.desktop-nav {
    grid-column: 2 / span 1;
    position: relative;
}

header nav.desktop-nav .menuItemSelector {
    position: absolute;
    transform: translateX(-50%);
    padding: 0 0.5rem;
    bottom: 0;
    opacity: 0;
    width: 70px;
    height: 30px;
    border-radius: 3rem;
    box-sizing: content-box;
    background-color: black;
}

header section nav.desktop-nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    position: relative;
}

header section nav.desktop-nav ul a {
    display: flex;
    color: black;
    padding: 5px 0.5rem;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: .2s;
    position: relative;
}

header section nav.desktop-nav ul a:hover {
    color: white;
}

header section nav.desktop-nav ul a.active {
    color: white;
}

/* Banner */
div.banner {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 80px;
    z-index: -1;
}

div.banner .inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

div.banner h1 {
    font-size: 4rem;
    font-weight: 900;
}

div.banner h1 span.line1 {
    display: inline-block;
    animation: fadeInUp 1s;
}

div.banner h1 span.line2 {
    display: inline-block;
    animation: fadeGrowIn 1s;
}

div.banner picture {
    margin-left: auto;
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(100px);}
    30% { opacity: 1; }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeGrowIn {
    00% { opacity: 0; transform: scale(0.7); }
    50% { opacity: 0; transform: scale(0.7); }
    100% { opacity: 1; transform: scale(1); }
}


div.banner img.portrait-image {
    border-radius: 5rem 0;
    border: 10px solid black;
    filter: contrast(1.2);
    /* filter: grayscale(1); */
}


/* Main Content */
#mainContent {
    margin-top: calc(50vh + 80px);
    display: flex;
    justify-content: center;
}

#mainContent .inner-container {
    background-color: var(--themeColor);
    padding: 5rem;
    height: 38rem;
    margin-bottom: 100rem;
    border-radius: 3rem;
    color: white;
}

#mainContent .about-me {
    font-size: 20px;
}














/* Tablet */
@media only screen and (max-width: 1080px) {
    /* Header */
    header nav.desktop-nav {
        display: none;
    }

    header section {
        grid-template-columns: auto 70px;
    }
}